<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome Admin</h1>
    <br>
    <div>
        <a href="/logout"><button>Logout</button></a>
    </div>
    <br>
    <div>
        <h2>
            Select Your Choice : 
        </h2>
    </div>
    <div>
    <br>
    <a href="/addEmployee"><button>Add New Employees</button></a>
    </div>
    <br>
    <div>    
    <a href="/disp"><button>Display All Employees</button></a>
    </div>
    <br>
    <div>
        <a href="/updateEmp"><button>Update/Delete Employee</button></a>
    </div>
</body>
</html>