<!DOCTYPE html>
<html>
<head>
   
    <title>Sign In Page</title>
</head>
<body>
    <h1>
        Sign In Page
    </h1>
    <form action="/" method="POST">
        <div>
                <label for="username">Enter Username  </label>
                <input type="text" name="username" placeholder="Enter Username">
        </div>
        <br>
        <div>
            <label for="password">Enter Password  </label>
            <input type="password" name="password" placeholder="Enter Password">
        </div>
        <br>
        <div>
            <button type="submit">Sign In</button>
        </div>
    </form>
    
</body>
</html>