<!DOCTYPE html>
<html>
<head>    
    <title>Update Employee Record</title>
</head>
<body>
    <header>
        <h1>Update Employee Record</h1>
        <br>
        
        <div>
        <form action="/update/<% result.emp_id %>" method="POST">
            <br>
            <div>
                <input type="hidden" value="<%= result.emp_id %>">
            </div>
            <div>
                <label for="name">Enter Employee Name</label>
                <input type="text" name="name" value="<%= result.name %>">
            </div>
            <br>
            <div>
                <label for="age">Enter Employee Age</label>
                <input type="number" name="age"value="<%= result.age %>">
            </div>
            <br>
            <div>
                <label for="dept">Enter Employee Department</label>
                <input type="text" name="dept" value="<%= result.department %>">
            </div>
            <br>
            <div>
                <label for="designation">Enter Employee Designation</label>
                <select name="designation" >
                    <option value="" <% if(result.designation == "" ) { %> selected <% } %>>--select designation--</option>
                    <option value="trainee" <% if(result.designation == "Trainee" ) { %> selected <% } %>>Trainee</option>
                    <option value="employee" <% if(result.designation == "Employee") { %> selected <% }%>>Employee</option>
                    <option value="manager" <% if(result.designation== "Manager" ) { %> selected <% } %>>Manager</option>
                    <option value="freelancer" <% if(result.designation == "Free-Lancer" ) { %> selected <% } %>>Free-Lancer</option>
                </select>
            </div>
            <br>
            <div>
                <button type="submit">Update</button>
            </div>
        </form>
        </div>

    </header>
    <br>

    <section>
        <a href="/disp"><button> Display All Employees </button></a>
        <br>
        <br>
        <div>
        <a href="/addEmployee"><button>Add New Employee</button></a>
        </div>
    </section>
</body>
</html>